body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #3e301d;
    text-decoration: none;
}
#kobozo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 1.5rem;
    color: white;
    width: 90%;
}
#kobozo .div{
    margin: 0.5rem 0;
}
#kobozo form{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#kobozo form h2{
    color: rgb(138, 136, 136);
    font-size: 1.5rem;  
    padding-top: 0.5rem;
}
#kobozo form input,select{
    border-radius: 10px;
    outline: 10px;
    border:2px solid rgb(97, 94, 94);
    min-height: 5vh;

    font-size: 1.5rem;
}
#kobozo .div1{
    text-align: center;
    align-items: center;
    min-height: 120px;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(#5c5a5a, #000000);
    color:white;
    height: 14vh;
    position: relative;
}
#kobozo .div1 .div1inner{
    position: absolute;
    bottom: 10%;
    left: 30%;
    min-width: 40%;
    box-sizing: content-box !important;
    display: flex;
    justify-content: space-between;
}
#kobozo .div1  b{
    flex-basis: 50%;
    color: white;
    font-size: 3rem;
    background: transparent;
    border: 0;
    box-sizing: content-box i !important;
}
#kobozo .div1 span{
    flex-basis:  50%;
    color: rgb(156, 151, 151);
    font-size: 3rem;
}
#kobozo .div1 h2{
    color: white;
    margin-top: 0.25rem;
    width: 100%;
}
#kobozo .div2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#kobozo .div2 h2, input{
    width: 100%;
    font-size:1.5rem ;
}
#kobozo .div3{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row ;
}
#kobozo .div3 h2{
    width: 50%;
}
#muvelet{
    width: 100%;
}
#hosz{
    width: 48%;
    margin-right: 0.25rem;
    font-size: 1.5rem;
}
#szam{
    font-size: 1.5rem;
}
#menyiseg{
    width: 50%;
    margin-left: 0.2rem;
    font-size: 1.5rem;
}
#szamol{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 50px;
    border:2px solid #ca0a0a ;
    background: transparent;
    color: #ca0a0a;
    font-weight: 500;
    min-height: 5vh;
    font-size: 2rem;
}
@media (max-width:1300px)
{
    #kobozo form{
        width: 50%;
    }
}
@media (max-width:800px)
{
    html{
        font-size: 75%;
    }
    #kobozo form{
        width: 80%;
    }
    #kobozo form h2{  
        padding-top: 1rem;
    }
}
@media (max-width:500px)
{
    #kobozo{
        width: 100%;
    }

}